.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 80px;
  text-align: center;
}

.controls {
  border-style: none solid none solid;
  border-width: 2px;
  width: 100%
}

.curve-selection {
  border-left-style: solid;
  border-width: 2px;
  text-align: left;
  width: 49%
}

.curve-viewer {
  border-style: solid;
  border-width: 2px;
  display: flex;
  flex-flow: row wrap;
  height: 360px;
  justify-content: center;
  width: 100%
}

.patch-selection {
  border-style: solid;
  border-width: 2px;
  width: 100%
}
