.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: inherit;
}

button {
  background-color: #153973;
  border: none;
  color: white;
  display: inline-block;
  font-size: 16px;
  padding: 16px 32px;
  text-align: center;
}

.control-panel {

  width: 30%
}

.button-panel {
  bottom: 0;
  position: absolute;
}
